.tudo {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0px;
	justify-content: space-between;
}

header, footer {
	grid-column: 1/4;
}

header {
	background-color: #f7b63d;
	padding: 20px;
	font-size: 22px;
}

.corpo {
	/*torna "corpo" um container flex*/
	display: flex;
	flex: 1;
	font-size: 22px;
}

.principal {
	padding-top: 20px;
	flex: 1;
	font-family: sans-serif;
}

.menu, .lado {
	/* 12em é a espessura das colunas */
	flex: 0 0 8em;
}

.menu {
	order: -1;
	font-family: courier;
	font-size: 20px;
	padding-right: 30px;
}

ul li {
	display: block;
	padding: 8px;
	color: #000;
}

li a {
	color: #000;
	text-decoration: none;
}

footer {
	background-color: #f4f0e8;
	padding: 12px;
}

@media (max-width: 700px) {
    .corpo {
       flex-direction: column;
    }  
    
    .menu, .lado {
       	width: 100%;
    }
}