.tudo {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	justify-content: space-between;
}

header {
	background-color: #f7b63d;
	padding: 20px;
	font-size: 22px;
}

.corpo {
	/*torna "corpo" um container flex*/
	display: flex;
	flex: 1;
	font-size: 22px;
}

.principal {
	margin-right: 52px;
	margin-left: 52px;
	padding-top: 10px;
	flex: 1;
	font-family: sans-serif;
}

#link {
	font-family: courier;
	color: #d12721;
	text-decoration: none;
}

.logo {
	max-width: 800px;
}

.menu {
	order: -1;
	font-family: courier;
	font-size: 20px;
	padding-right: 30px;
	/* em é a espessura das colunas */
	flex: 0 0 10em;
}

.lado {
	padding-right: 30px;
	font-family: courier;
	font-size: 20px;
	flex: 0 0 8em;
}

#promo {
	max-width: 180px;
}

ul li {
	display: block;
	padding: 8px;
	color: #000;
}

li a {
	color: #000;
	text-decoration: none;
}

footer {
	background-color: #f4f0e8;
	padding: 20px;
}

@media (max-width: 700px) {
    .corpo {
       flex-direction: column;
    }  
    
    .menu, .lado {
    	margin: auto;
       	width: 90%;
    }
    .logo {
    	width: 100%;
    }
}